@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000005d;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img {
  width: 100px;
  height: 100px;
  background-image: url('/assets/icons/vint.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: rotation 0.1s linear infinite;
}
