.docs_container {
    background-color: var(--color-blue-dard);
    width:30%;
}

.docs {
    background-color: var(--color-blue);
    margin-top:20px;
    height: 962px;
    margin-left: 1%;
    margin-right: 1%;
}